
body {
  /*background: rgb(74, 156, 29);*/
  background-image: radial-gradient(rgb(59, 125, 23) 30%, transparent 30%),
  radial-gradient(rgb(59, 125, 23) 30%, transparent 30%);
  background-color: rgb(74, 156, 29);
  background-position: 0 0, 100px 100px;
  background-size: 200px 200px;
}
canvas {
  outline-color: rgb(59, 125, 23);
  border-radius: 15px;
  display: block;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}
